@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Public Sans', system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}
:deep(pre) {
    @apply m-0 p-4 bg-transparent;
    overflow-x: auto;
}

:deep(code) {
    @apply bg-transparent;
    font-family: 'Fira Code', 'Monaco', 'Courier New', monospace;
    font-size: 0.875rem;
    line-height: 1.7;
}

/* Scrollbar para código */
:deep(pre::-webkit-scrollbar) {
    height: 8px;
}

:deep(pre::-webkit-scrollbar-track) {
    @apply bg-neutral-800;
}

:deep(pre::-webkit-scrollbar-thumb) {
    @apply bg-neutral-600 rounded;
}

:deep(pre::-webkit-scrollbar-thumb:hover) {
    @apply bg-neutral-500;
}
:root {
    --ui-radius: 0.25rem;
}